.container {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

.main h1 {
  margin-bottom: 14px;
}

.task {
  border: 1.5px solid #909090;
  padding: 14px;
  line-height: 150%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task p {
  white-space: pre-wrap;
  width: 100%;
}

.commentsContainer {
  margin: 18px 0;
  width: 100%;
  max-width: 1024px;
}

.commentsContainer h2 {
  margin: 14px 0;
}

.formComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 50%;
  line-height: 20px;
  margin: 0 auto;
  border-radius: 4px;
  color: #fff;
  background-color: var(--button-color);
  padding: 12px 0;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--button-color-hover);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(84, 84, 84);
    opacity: 0.5;
  }

  @media (max-width: 600px) {
    line-height: 10px;
  }
}

.commentsContainer {
  width: 100%;
}

.comment {
  border: 2px solid rgb(18, 143, 143);
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 14px;
  background-color: white;
  color: black;
}

.headComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.commentsLabel {
  background-color: rgb(18, 155, 155);
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
}

.buttonTrash {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.trashIcon:hover {
  color: #ff3042 !important;
  transform: scale(1.1);
}
